@use 'foundations/settings' as *;
@use 'foundations/mixin' as *;

.bottomNav {
    @include flexCenterX2();
    padding-top: 30px;

    &.pb5 {
        padding-bottom: 5px;
    }

    &.pb10 {
        padding-bottom: 10px;
    }

    &.pb15 {
        padding-bottom: 15px;
    }

    &.pb20 {
        padding-bottom: 20px;
    }

    &.pb25 {
        padding-bottom: 25px;
    }

    li {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}
